*,html {font-family: 'Poppins', sans-serif;}

.content {
  padding: 1rem;
  max-width: 40rem;
  margin: 0 auto;
}
h1 {
  margin: 0;
  font-size: 1.875rem;
  padding-bottom: 1.25rem;
  font-weight: 500;
}
p {
  margin: 0;
  font-size: 1rem;
  padding: 0 0 1rem;
}

.FormField {
  padding-bottom: 1rem;
}
.FormField label {
  display: block;
  width: 100%;
  font-size: 12px;
  padding-left: 1rem;
  padding-bottom: 0.4rem;
}
.FormField input[type="text"],
.FormField input[type="email"],
.FormField select {
  box-sizing: border-box;
  border: none;
  width: 100%;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  font-size: 1rem;
  background-color: rgb(223, 223, 223);
  border-radius: 2.5rem;
}

.topics {
  display: flex;
  flex-wrap: wrap;
}
.CheckboxGroup {
  width: 100%;
  display: flex;
  align-items: center;
}

.CheckboxGroup label {
  display: block;
  padding-left: 0.5rem;
}

.SubmitButton {
  appearance: none;
  border: none;
  display: block;
  background-color: #000;
  color: #fff;
  padding: 1rem 2rem;
  margin-top: 2rem;
  margin-left: auto;
}

@media only screen and (min-width: 23.75rem) {

  .content {
    padding: 2rem;
  }

  .FieldColumn {
    display: flex;
    justify-content: space-between;
  }
  .FieldColumn .FormField {
    width: calc(50% - .5rem);
  }
  .CheckboxGroup {
    width: calc(50% - .5rem);
  }
  
}

@media only screen and (min-width: 31.25rem) {

  .content {
    padding: 4rem;
  }

}

@media only screen and (min-width: 37.5rem) {

  .CheckboxGroup {
    width: calc(25% - .5rem);
  }

}
